/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "builds";

.container{
  font-size: 18px;
  font-family: helvetica;
  width: 90%;
  color: #000;
}

.prompt{
  margin-bottom: 1%;
  color: #666;
}

.btn-primary{
  text-align: center;
  border-radius: 5px;
  width: 15%;
  float: right;
}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

// Show page styles

.build-title{
  margin-bottom: 3%;
  font-size: 24px;
  border-bottom: 1px solid #364653;
}
// SPECIAL stat styles
.increase-special{
  color: #42C800;
}

.special-name{
  font-weight: 500;
}

.special-level{
  display: inline-block;
  text-align: center;
  min-width: 10%;
}

.special{
  margin-bottom: 3%;
}

// Perk styles
.perks-prompt{
  margin-bottom: 3%;
}
.perks{
  margin-bottom: 3%;
  text-align: center;
}
.increase-perk{
  color: #42C800;
}
.perk-name{
  font-weight: 500;
}
.popover{
  max-width: 60%;
}
